@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

span[epub|type~="subtitle"]{
	display: block;
	font-weight: normal;
}

[epub|type~="z3998:verse"] p{
	text-align: left;
	text-indent: 0;
}

[epub|type~="z3998:verse"] p > span{
	display: block;
	text-indent: -1em;
	padding-left: 1em;
}

[epub|type~="z3998:verse"] p > span + br{
	display: none;
}

abbr.name{
	white-space: nowrap;
}

table{
	margin: 1em auto;
}

td{
	padding-left: 5px;
	padding-right: 5px;
	vertical-align: middle;
}

.tombstone{
	border: 1px solid #000;
	height: 90px;
	text-align: center;
	width: 90px;
}
