@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

[epub|type~="z3998:verse"] p{
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:verse"] p > span{
	display: block;
	padding-left: 1em;
	text-indent: -1em;
}

[epub|type~="z3998:verse"] p > span + br{
	display: none;
}

#chapter-18 blockquote:last-of-type{
	text-align: center;
	display: table;
	margin: auto;
}

#chapter-18 blockquote:last-of-type p{
	display: table-cell;
	padding-left: .5em;
	padding-right: .5em;
	text-indent: 0;
	vertical-align: middle;
}

#chapter-18 blockquote:last-of-type p:first-child,
#chapter-18 blockquote:last-of-type p:last-child{
	border: 1px solid;
	height: 5em;
	width: 5em;
}
